@{
    ViewBag.Title = "Home Page";
}

<div class="jumbotron">
    <h1>AD Authentication with OWIN</h1>
    <p class="lead">This repository is a sample code for articles about AD Authentication with OWIN in MVC5.</p>
    <p>
        Read <a href="http://tech.trailmax.info/2016/03/using-owin-and-active-directory-to-authenticate-users-in-asp-net-mvc-5-application/" target="blank">Part 1</a> 
        of the article for most of the explanations and step-by-step walkthrough.
        <br/>
        Read <a href="http://tech.trailmax.info/2016/09/active-directory-authentication-with-owin-in-mvc5-part-2-roles-and-corrections/">Part 2</a> of the article 
        for explanation how to deal with roles
    </p>
</div>

<div class="row">
    <div class="col-md-4">
        <h2>Role Restriction</h2>
        <p>
            This page is restricted to users in role "Users"
        </p>
        <p>@Html.ActionLink("Only For Users", "OnlyForUsers", "Home", new { @class = "btn btn-default" })</p>
    </div>
    <div class="col-md-4">
        <h2>Never get to this page</h2>
        <p>This page is restricted for users with "NonExistingPage" - you should get login page again, though you are already authenticated</p>
        <p>@Html.ActionLink("Never Get There", "ForNonExistingRole", "Home", new { @class = "btn btn-default" })</p>
    </div>
    <div class="col-md-4">
        <h2>List of claims</h2>
        <p>Here is the list of resulting claims on the cookie.</p>
        <p>@Html.ActionLink("My Claims", "MyClaims", "Home", new { @class = "btn btn-default" })</p>
    </div>
</div>